.input-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 2.5rem;
  & > input {
    height: 2.75rem;
    color: var(--color-content-primary);
    font: var(--font-input);

    flex: 1;
    border-radius: 0.75rem;
    border: 2px solid var(--color-border-primary);
    background-color: var(--color-background-secondary);
    padding: 0.6875rem 1.125rem;
    &:hover {
      border-color: var(--color-border-primary-hover);
    }
    &:focus {
      border-color: var(--color-brand-hover) !important;
      outline: none;
    }
    &::placeholder {
      color: var(--color-content-tertiary);
    }
  }
}

@media (max-width: 29.0625rem) {
  .input-wrapper {
    flex-direction: column;
  }
}
